<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>Music App</header>

    <% if logged_in? %>
      <form action="<%=session_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log out">
      </form>
    <% else %>
      <form action="<%=new_session_url%>" method="post">
        <input type="hidden" name="_method" value="get">
        <input type="submit" value="Log In">
      </form>

      <form action="<%=new_user_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Up">
      </form>
    <% end %>

    <%= yield %>
  </body>
</html>
