<h1>Album: <%= @album.title %></h1>

<li>Title: <%= @album.title %></li>
<li>Band: <%= @album.band.name %></li>
<li>Year: <%= @album.yr %></li>
<li>Live/Studio: <%= @album.is_live ? "Live" : "Studio" %></li>