<h3>Posted in: <%= @post.sub.title %></h3>
<h1><%= @post.title %></h1>

<ul>
    <li><%= @post.url %></li>
    <li><%= @post.content %></li>
    <li>Written by: <%= @post.author.username %></li>
</ul>